body {
  position: relative;
  color: $color-base;
  font-family: "Roboto Slab", sans-serif;
  &.navbar-is-fixed-top {
    padding-top: 115px;
  }
}

.transition,
.transition * {
  transition: $transition-duration linear;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}


.outline {
  outline: 1px solid lime;
}
