.icon {
    position: absolute;
    background-image: url(#{$dirimg}/icon-spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.icon-arrow-right {
    width: 15px;
    height: 12px;
    background-position: -5px -5px;
}

.icon-check-white {
    width: 33px;
    height: 32px;
    background-position: -30px -5px;
}

.icon-footer-2-facebook {
    width: 11px;
    height: 19px;
    background-position: -73px -5px;
}

.icon-footer-2-googleplus {
    width: 17px;
    height: 17px;
    background-position: -94px -5px;
}

.icon-footer-2-pinterest {
    width: 17px;
    height: 21px;
    background-position: -121px -5px;
}

.icon-footer-2-twitter {
    width: 19px;
    height: 16px;
    background-position: -148px -5px;
}

.icon-footer-envelope {
    width: 25px;
    height: 16px;
    background-position: -177px -5px;
}

.icon-footer-marker {
    width: 23px;
    height: 31px;
    background-position: -212px -5px;
}

.icon-footer-media {
    width: 18px;
    height: 21px;
    background-position: -245px -5px;
}

.icon-footer-mobile {
    width: 20px;
    height: 31px;
    background-position: -273px -5px;
}

.icon-footer-news {
    width: 26px;
    height: 21px;
    background-position: -303px -5px;
}

.icon-footer-photo {
    width: 26px;
    height: 23px;
    background-position: -339px -5px;
}

.icon-footer-twitter {
    width: 24px;
    height: 18px;
    background-position: -375px -5px;
}

.icon-latest-basket {
    width: 73px;
    height: 74px;
    background-position: -409px -5px;
}

.icon-latest-laptop {
    width: 73px;
    height: 73px;
    background-position: -492px -5px;
}

.icon-latest-locked {
    width: 73px;
    height: 73px;
    background-position: -575px -5px;
}

.icon-services-graph {
    width: 55px;
    height: 44px;
    background-position: -658px -5px;
}

.icon-services-heart {
    width: 54px;
    height: 48px;
    background-position: -723px -5px;
}

.icon-services-mobile {
    width: 40px;
    height: 52px;
    background-position: -787px -5px;
}

.icon-values-graph {
    width: 91px;
    height: 91px;
    background-position: -837px -5px;
}

.icon-values-line {
    width: 171px;
    height: 2px;
    background-position: -938px -5px;
}

.icon-values-misic {
    width: 91px;
    height: 91px;
    background-position: -1119px -5px;
}

.icon-values-star {
    width: 91px;
    height: 91px;
    background-position: -1220px -5px;
}
